@use "sass:math";

//Library
@import "node_modules/bourbon/core/_bourbon.scss";
@import "libs/_mixins.scss";
@import "libs/_fonts.scss";
@import "libs/_customvars";

@import "node_modules/bootstrap/scss/bootstrap";

//Global Styles
body {
  // might not work on Firefox and Safari
  @extend %css-scroll-bar;
}

// Short Classes
.tmpnone {
  display: none;
}

// for checking HTML structure on browser
.outline {
  outline: 1px red dotted;
}

.outline2 {
  outline: 1px blue solid;
}

.outline-all,
.outline-all * {
  outline: 1px cyan dashed;
}

.float-center {
  float: none !important;
  display: table !important;
  margin: 0 auto !important;
}

.wh-auto {
  width: auto !important;
  height: auto !important;
}

.w-100vh{width: 100vh;}
.h-100vh{height: 100vh;}
.wh-100vh{@extend .w-100vh; @extend .h-100vh;}

//Background Image Classes
.nobg {
  background: unset !important;
}

// both image and color will be unset

.bgCover,
.bgNoRepeat,
.bgContain {
  background-repeat: no-repeat !important;
}

.bg-repeat{background: repeat;}
.bg-repeat-x{
  background-repeat: repeat-x;
}
.bg-repeat-y{
  background-repeat: repeat-y;
}

.bgCover {
  background-size: cover !important;
}

.bgContain {
  background-size: contain !important;
}

.bgfixed {
  background-attachment: fixed !important;
}

.bgscroll {
  background-attachment: scroll !important;
}

.bgPosCenter {
  background-position: center center !important;
}

.bgPosTopLeft {
  background-position: top left !important;
}

.bgPosTopCenter {
  background-position: top center !important;
}

.bgPosTopRight {
  background-position: top right !important;
}

.bgPosBtmLeft {
  background-position: bottom left !important;
}

.bgPosBtmCenter {
  background-position: bottom center !important;
}

.bgPosBtmRight {
  background-position: bottom right !important;
}

.bgPosLeftCenter {
  background-position: left center !important;
}

.bgPosRightCenter {
  background-position: right center !important;
}

/* Font Families */
.bf-family { // base font family class
  font-family: $font-family-base;
}
.bhdf-family { // base heading font family class
  font-family: $font-family-base;
}

.dfont {
  font-family: $dfont;
}

.tfont {
  font-family: $tfont;
}

.fontaw {
  font-family: $fontaw;
}


// Misc
/* clears the 'X' from Internet Explorer */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* Mixing Generation */

/* Border radius */
@include border-radius-generator();

// todo: convert to mixin
// Transitions
.trans-2,
.trans-2all,
.trans-2all * {
  @include transition($trans-2);
}

.trans-3,
.trans-3all,
.trans-3all * {
  @include transition($trans-3);
}

.trans-4,
.trans-4all,
.trans-4all * {
  @include transition($trans-4);
}

.trans-6,
.trans-6all,
.trans-6all * {
  @include transition($trans-6);
}

.trans-8,
.trans-8all,
.trans-8all * {
  @include transition($trans-8);
}

.trans-10,
.trans-10all,
.trans-10all * {
  @include transition($trans-10);
}

.trans-12,
.trans-12all,
.trans-12all * {
  @include transition($trans-12);
}

.trans-14,
.trans-14all,
.trans-14all * {
  @include transition($trans-14);
}

.trans-16,
.trans-16all,
.trans-16all * {
  @include transition($trans-16);
}

.trans-18,
.trans-18all,
.trans-18all * {
  @include transition($trans-18);
}

.trans-20,
.trans-20all,
.trans-20all * {
  @include transition($trans-20);
}

.trans-22,
.trans-22all,
.trans-22all * {
  @include transition($trans-22);
}

//Social Font Colors Class Generator
@include socialColorClass();

//Font and line-height Class Generator
@include fontSizeClass();
@include fontWeightClass();

//Padding and Margin Generator
@include magpadClass();

/* Width Short Class */
@include widthClass();